<nav>
  <ul>
    <li><%= link_to("Расписание", {:controller => "/pages/home", :action => "schedule"})%></li>
    <li><%= link_to("Выход", {:controller => "/user/login", :action => "logout"})%></li>
  </ul>
</nav>​

<%= @last_name_with_initials %>
<% for schedule in @schedule do %>
    <div><% schedule.object.to_s %></div>
<% end %>
<article>
  <section>
    <div id="calendar">
      <h2 id="month">
        <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
        <%= format_date @date %>
        <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
      </h2>
      <%= calendar_for(@schedule, :year => @date.year, :month => @date.month, :first_day_of_week => 1) do |calendar| %>
        <%= calendar.head('Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье') %>
        <% calendar.day(:day_method => :date_time) do |date, schedule| %>
          <table>
          <tr><td class="block"><%= date.day %></td></tr>
            <% 4.times do |i| %>
              <tr><td class="block">
              <% for para in schedule %>
                <% if para.number == i %>
                  <%= para.object %>
                <% end %>
              <% end %>
            </td></tr>
          <% end %>
          </table>
        <% end %>
      <% end %>
    </div>
  </section>
</article>
