<html>
<head>
  <title>Регистрация</title>
  <%= stylesheet_link_tag "user/register" %>
  <%= javascript_include_tag "jquery", "jquery_ujs", "jquery-ui", "user/register" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= button_to("перезагрузить проект", {:controller => '/admin/project', :action => 'restart'},{:id => "restart", :confirm => "Перезагрузить проект?"}) %>
</header>
<%= yield %>
</body>
</html>